#game-container.fondo-nivel-0 {
  background-image: url('../img/Villa_Raiz.png');
  background-size: cover;
}
#game-container.fondo-nivel-1 {
  background-image: url('../img/Ruta_101.png');
  background-size: cover;
}
#game-container.fondo-nivel-2 {
  background-image: url('../img/Bosque_Petalia.png');
  background-size: cover;
}

body {
  padding-top: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #23cd31;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 10px solid #6d6d6d;
  background: #fff;
  overflow: hidden;
  border-radius: 30px;
}

.personaje {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #07a07c;
  border-radius: 50%;
  border: 5px solid #07a050;
}

h1{
  padding: 0px;
}

#puntos {
  font-size: 20px;
  text-align: center;
}

.pokemon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  user-select: none;
  overflow: hidden;
}

.pokeball {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 2px solid black;
  border-radius:0;
  animation: giro 0.5s linear infinite;
}

@keyframes giro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

