#game-container.fondo-nivel-0 {
  background-image: url('../img/Villa_Raiz.png');
  background-size: cover;
}
#game-container.fondo-nivel-1 {
  background-image: url('../img/Ruta_101.png');
  background-size: cover;
}
#game-container.fondo-nivel-2 {
  background-image: url('../img/Bosque_Petalia.png');
  background-size: cover;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../img/fondo-web2.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #333;
  box-shadow: 2px 5px 5px rgb(85, 85, 85);
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  border-radius: 30px;
}

#logo {
  width: 300px;
  margin-bottom: 10px;
  user-select: none;
}

#puntos {
  font-size: 20px;
  text-align: center;
}

.pokemon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  user-select: none;
  overflow: hidden;
}

.pokeball {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('../img/pokeball2.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  animation: giro 0.5s linear infinite;
}

@keyframes giro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon.appear {
  animation: aparecer 0.4s ease-out;
}

@keyframes aparecer {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rebote {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-15px); }
  60%  { transform: translateY(0); }
  80%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
